[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PCSX
GenericName=Playstation Emulator
GenericName=Playstation 模拟器
Comment=Sony Playstation emulator
Comment[zh_CN]=Sony Playstation 模拟器
Exec=pcsx
Icon=pcsx-icon.png
Categories=Application;Game;Emulator;GTK
